<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- 用于权限请求的透明Activity -->
        <activity
            android:name=".action.LaunchRequest"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:taskAffinity=""
            android:theme="@style/Theme.OmnibotApp.Permission" />
    </application>

</manifest>